/* Principaux */
*
{
    box-sizing: border-box;
}

body
{
    text-align: center;
    line-height: 1.5;
    margin: 0em;
    padding: 0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;
}

ul
{
    list-style-type: none;
}

/* Les keyframes */

@keyframes couleurs
{
    0%
    {
        color: hsl(60, 100%, 50%);
    }
    25%
    {
        color: hsl(150, 100%, 50%);
    }
    50%
    {
        color: hsl(240, 100%, 50%);
    }
    75%
    {
        color: hsl(330, 100%, 50%);
    }
    100%
    {
        color: hsl(60, 100%, 50%);
    }
}

@keyframes balances
{
    0%
    {
        transform: translate(-1em);
    }
    100%
    {
        transform: translate(4em);
    }
}


/* autres */

header
{
    font-size: 2em;
    margin: 0em;
    padding-top: 0.1em;
    animation: couleurs 5s both infinite ease-in-out alternate-reverse;
}

#text1
{
    font-size: 0.9em;
    line-height: 0.5;
}
#text2
{
    font-size: 0.8em;
    line-height: 0.5;
    animation: balances 1s both infinite ease-in-out alternate-reverse;
}

ul
{
    margin-left: auto;
    margin-right: auto;
}

li
{
    font-weight: bold;
    display: block;
    border: 0.1em outset black;
    border-radius: 0.5em;
    width: 12em;
    margin: 0.5em auto;
    padding: 0.3em;
    cursor: pointer;
    box-shadow: 0.2em 0.3em 0.3em 0 rgba(0, 0, 0, 0.5);
    position: relative;
    outline: none;
}

.terme
{
    position: relative;
    background-color: black;
    color: white;
    padding: 0.6em;
    transition: transform 0.4s ease-in-out;
    transform: scale(1) translate(0%) rotate(0deg);
}
.sens
{
    position: absolute;
}

li:hover .terme
{
    transform: scale(0) translate(100%) rotate(-360deg);
}

footer
{
    font-size: 0.8em;
    font-style: italic;
    padding: 0.8em;
    margin-top: 2em;
    text-align: right;
}
